@page
@model CincyPay.Pages.AnalayticsModel
@{
}
<style>
    .heading{
        color: #0074D9;
    }
</style>
<h2 class="heading">Live Analytics</h2>
<iframe title="CincyPay" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=7499fc23-6da4-46d4-aaf1-f0913406be2c&autoAuth=true&ctid=f5222e6c-5fc6-48eb-8f03-73db18203b63" frameborder="0" allowFullScreen="true"></iframe>