@page
@using EmpSalaryData;
@using DepartmentData;
@using System.Collections.Generic;
@model CincyPay.Pages.DetailsModel
@{
    List<EmpSalary> FinalFilteredList = (List<EmpSalary>)ViewData["EmpSalary"];
    List<Department> DepartmentList = (List<Department>)ViewData["depList"];
    Dictionary<String, int> d = new Dictionary<string, int>();

}
<link rel="stylesheet" href="~/css/detailspage.css" type="text/css" />

<div style="overflow-y:hidden;">
    <div class="left">

        </tr>
        @{
            foreach (Department empSalary in DepartmentList)
            {
                if (d.ContainsKey(empSalary.DepartmentDepartment))
                {

                }
                else
                {
                    <a href="/JobDetails">
                        <div class="card" style="margin-top:6px">
                            <div class="card-body">
                                <span>  @empSalary.DepartmentDepartment</span>
                            </div>
                        </div>
                    </a>
                    d.Add(empSalary.DepartmentDepartment, 1);
                }


            }

        }

    </div>
    <div class="right">
        <div class="top">

            <h1>Job Category!</h1>
            <h6>Find from the list of categories that suit and you and get to know employees and their job details working in the specific job fields. </h6>
        </div>
        <div class="bottom">
            <img width="100%" src="/Images/departments.jpg" />
        </div>
    </div>
</div>
