@page
@using EmpSalaryData;
@using DepartmentData;
@using System.Collections.Generic;
@model CincyPay.Pages.DetailsModel
@{
    List<EmpSalary> FinalFilteredList = (List<EmpSalary>)ViewData["EmpSalary"];
    List<Department> DepartmentList = (List<Department>)ViewData["depList"];
    Dictionary<String, int> d = new Dictionary<string, int>();
    
}
<table>
    <tr>
       
        <th>Department Name</th>
        
    </tr>
    @{
        foreach (Department empSalary in DepartmentList)
        {
            if(d.ContainsKey(empSalary.DepartmentDepartment)){

            }
            else{
                

                <tr>
                    <td>
                       
                            <a href="/JobDetails">@empSalary.DepartmentDepartment</a>
                      
                        
                    </td>
                </tr>
                d.Add(empSalary.DepartmentDepartment,1);
            }
            
            
        }

    }


</table>