@page
@using EmpSalaryData;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<EmpSalary> salaryData = (List<EmpSalary>)ViewData["EmpSalary"];   
}
<style>
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
</style>
<div class="container" style="position:relative">
    <img src="/Images/landing-bg.jpg" width="100%" alt="Landing Page Image"/>
    <a asp-page="/SearchPage">
    <button style="color: white;
    background: #0074D9;
    height: 30px;
    left: 50%;
    top: 36%;
    position: absolute;
    font-weight: bolder;
    width: 315px;
    border-radius: 20px;">
        Search for Jobs!
        </button>
    </a>
</div>
<hr />
<div class="container">

    

    <h2 style="margin-left:40%;color: #0074D9">What Do We Do?</h2>
    <div class="row">
        <div class="col">
            Are you a job seeker? Do you know which are the most booming jobs in the Cincinnati public sector? Do you know what job profiles pay the most? Our website will help you clear all your questions and help you get the right job...

            Display Job Opportunities available in the city's public sector
            Give insights into the salaries paid for different job roles
            Helps you find a job in your preferred job location
            Shows you the recent hiring trends for the role you are seeking
            Job Type (Full Time or Part Time)
            Helps you find your interest Department
        </div>
        <div class="col">
            <img src="/Images/about-us.jpg" width="550px" alt="About Us Image" />
        </div>
    </div>
    <hr />
    <h2 style="margin-left:40%; color: #0074D9;">Explore our key features</h2>
    <div style="margin-top:40px; margin-left:100px" class="row">
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="/Images/domains.png" width="250px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Improve your job search reach by exploring multiple job profiles in the Cincinnati Public Sector</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="/Images/salary.png" width="250px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Compare jobs by pay and find the right fit for you</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="/Images/demand.png" width="250px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Get insights on the most booming and high paying jobs in Cincinnati</p>
                </div>
            </div>
        </div>
    </div>
</div>

