@page
@using EmpSalaryData;
@model CincyPay.Pages.JobDetailsModel
@{
    List<EmpSalary> FinalFilteredList = new List<EmpSalary>();
    FinalFilteredList = (List<EmpSalary>)ViewData["EmpSalary"];
    String s = Model.InputDepid;



}
<link rel="stylesheet" type="text/css" href="~/css/JobDetails.css">
<table class="center">
    <tr>

        <th>Job Title</th>
        <th>Hours per week</th>
        <th>Salary</th>

    </tr>
    @{
        if (FinalFilteredList != null)
        {
        foreach (EmpSalary empSalary in FinalFilteredList)
        {
            if (empSalary.JobCode.Equals(s))
            {
                <tr>
                    <td>empSalary.jobtitle</td>
                    <td>empSalary.std_hours</td>
                    <td>empSalary.annual_rt</td>
                </tr>

            }



        }
        }
        else
        {
        <tr>
                <td>No Data Found</td>
         <td>No Data Found</td>
        <td>No Data Found</td>
        </tr>
        }
    }


</table>

