#GFG {
    text-decoration: none;
}

.left {
    float: left;
    width: 50%;
    overflow-y: scroll;
    max-height: 575px;
    border: 4px solid gainsboro;
    border-radius: 21px;
    padding: 11px;
    margin-top: 25px;
}

.right {
    float: right;
    width: 50%;
}

.top {
    height: 50%;
    float: top;
    margin-left: 45px;
    margin-top: 20px;
}

.bottom {
    height: 50%;
    float: bottom;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0074D9;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: gainsboro;
    }
