button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.searchJobBtn {
    color: white;
    background: #0074D9;
    height: 30px;
    left: 50%;
    top: 36%;
    position: absolute;
    font-weight: bolder;
    width: 315px;
    border-radius: 20px;
}

h2 {
    margin-left: 40%;
    color: #0074D9;
}

.card-widht {
    width: 15rem;
}
