@page
@model CincyPay.JobDetailsModel
@{
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <table>
        <tr>
            <th>Job Title</th>
            <th>Hours per week</th>
            <th>Salary</th>
        </tr>
    </table>
}
